.vs/
x64/
x86/
Release/
Debug/
dist/
*.obj
*.pdb
*.ilk
*.iobj
*.ipdb
*.exp
*.lib
*.recipe
*.idb
*.tlog/
*.log
*.bin
*.suo
*.db
*.vsidx
*.dll
*.exe
*.ipch
*.res
*.aps
*.user
*.recipe
*.lastbuildstate
*.unsuccessfulbuild
*.FileListAbsolute.txt
*.CppClean.log
*.Bds.user
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.sbr
*.bsc
*.ncb
ipch/
[Dd]ebug/
[Rr]elease/
[Ll]og/
[Cc]ache/
*.bak
__history/
*.manifest
*.cdf
*.pfx
backup/
Novo(a)*
*.rar
*.zip
auth_bot/config.json
